.cube {
    width: 400px;
    height: 400px;
    border: solid;
}
.cube1 {
    width: 380px;
    height: 380px;
    border: solid;
    margin: 7.5px;
    color: springgreen;
}
.cube2 {
    width: 360px;
    height: 360px;
    border: solid;
    margin: 7.5px;
    color: tomato;
}
.cube3 {
    width: 34px;
    height: 34px;
    border: solid;
    margin: 1.25px;
    color: white;
    display: inline-block;
}
.background-color1 {
    background-color: rgb(80, 78, 75);
    border-color: black;
}
.background-color2 {
    background-color: rgb(199, 28, 133);
    border-color: black;
}
.background-color3 {
    background-color: crimson;
    border-color: black;
}
.background-color4 {
    background-color: rgb(52, 230, 36);
    border-color: black;
}
.background-color5 {
    background-color: blueviolet;
    border-color: black;
}