<h2>Pipes-examples works!</h2>
<h3>Date</h3>
<p>{{ dateVar }}</p>
<p>{{ dateVar | date }}</p>
<h3>Upper case</h3>
<p>{{ textUpper }}</p>
<p>{{ textUpper | uppercase }}</p>
<h3>Lower case</h3>
<p>{{ textLower }}</p>
<p>{{ textLower | lowercase }}</p>
<h3>Percent</h3>
<p>{{ percentPipe }}</p>
<p>{{ percentPipe | percent }}</p>
<h3>Currency</h3>
<p>{{ currencyPipe }}</p>
<p>{{ currencyPipe | currency }}</p>
<h3>Decimal pipe</h3>
<p>{{ decimalPipe }}</p>
<p>{{ decimalPipe | number }}</p>
<p>{{ decimalPipe | number: '1.0-0' }}</p>
<h3>Slice pipe</h3>
<p>{{ str }}</p>
<p>{{ str | slice: 1:5 }}</p>