.main {
    background: linear-gradient(to right,
            rgb(43, 80, 80),
            rgb(72, 152, 155));
    display: flex;
    color: white;
}

.solution {
    margin-right: 40px;
}

.block {
    width: 150px;
    height: 50px;
    border: solid;
}

.block:hover {
    border: 8px solid;
    margin-bottom: -11px;
    margin-right: -11px;
}

.block2 {
    box-sizing: border-box;
    width: 170px;
    height: 57px;
    border: solid;
}

.block2:hover {
    border: 8px solid;
}

.block3 {
    width: 150px;
    height: 50px;
    border: solid;
}

.block3:hover {
    box-shadow: 0px 0px 0 5px;
}

.block4 {
    width: 150px;
    height: 50px;
    border: solid;
}

.block4:hover {
    border: 8px solid;
}