.gradient {
    background: linear-gradient(to right,
            rgb(43, 80, 80),
            rgb(72, 152, 155));
    color: white;
    font-size: 13px;
}

.paragraph {
    background-color: rgb(149, 226, 15);
    color: rgb(149, 226, 15);
    position: sticky;
    top: 15px;
}