.main {
    display: flex;
    justify-content: center;
}
.big_hidden_block {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 500px;
    height: 2000px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.block {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    margin-left: 5px;
    margin-top: 5px;
}

.visibility {
    visibility: hidden;
}

.block_fixed {
    position: fixed;
    background-color: rgb(134, 125, 125);
    width: 40px;
    height: 40px;
    border-radius: 10%;
}
.b1 {
    margin-left: 95px;
}

.b2 {
    margin-left: 410px;
}

.b3 {
    margin-left: 140px;
    margin-top: 45px;
}

.b4 {
    margin-left: 95px;
    margin-top: 90px;
}

.b5 {
    margin-left: 140px;
    margin-top: 90px;
}

.b6 {
    margin-left: 185px;
    margin-top: 90px;
}

.b7 {
    margin-left: 230px;
    margin-top: 90px;
}

.b8 {
    margin-left: 275px;
    margin-top: 90px;
}

.b9 {
    margin-left: 410px;
    margin-top: 90px;
}

.b10 {
    margin-left: 455px;
    margin-top: 90px;
}

.b11 {
    margin-left: 50px;
    margin-top: 135px;
}

.b12 {
    margin-left: 95px;
    margin-top: 135px;
}

.b13 {
    margin-left: 320px;
    margin-top: 135px;
}

.b14 {
    margin-left: 185px;
    margin-top: 180px;
}

.b15 {
    margin-left: 5px;
    margin-top: 225px;
}

.b16 {
    margin-left: 50px;
    margin-top: 315px;
}

.b17 {
    margin-left: 140px;
    margin-top: 315px;
}

.b18 {
    margin-left: 275px;
    margin-top: 315px;
}

.b19 {
    margin-left: 455px;
    margin-top: 315px;
}

.b20 {
    margin-left: 320px;
    margin-top: 360px;
}

.b21 {
    margin-left: 365px;
    margin-top: 360px;
}

.b22 {
    margin-left: 185px;
    margin-top: 405px;
}

.b23 {
    margin-left: 95px;
    margin-top: 450px;
}

.b24 {
    margin-left: 275px;
    margin-top: 450px;
}

.b25 {
    margin-left: 410px;
    margin-top: 450px;
}